.HomeContainer{
    background-color:cornflowerblue;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.HomeContainerInner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* height: 60%;
    width: 50%; */

    /*
    background-color: aqua;
    background-image: url('/src/assets/img/superhiro.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat 
    */
}

.HomeContainerInner h1 {
    z-index: 1;
    font-size: 2rem;
    color: aliceblue;
    text-transform: uppercase;
    margin: 1rem;
}
.HomeContainerH2{
    text-transform: uppercase;
    font-size: 40px;
}

.imageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 100%;
    height: auto;
}

