@import url("./styles/reset.module.css");
/* @import url("https://fonts.googleapis.com/css2?family=Abel&display=swap"); */

body {
  box-sizing: border-box;
  height: 100vh;
}
@font-face {
  font-family: "Hero";
  src: url("./assets/fonts/Masked%20Hero.ttf") format("truetype"); /* Use %20 for space in URL */
}


/* Dark mode styles */

body.dark {
  background-color: #121212;
  color: white;
}

.dark nav {
  background-color: #222;
}

.dark main {
  background-color: #181818;
}

.dark h1,
.dark p,
.dark h2,
.dark h3,
.dark h4,
.dark li a,
.dark li {
  color: white;
}
