.nav {
  box-sizing: border-box;
  padding: 1rem;
  background-color: white;
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navLogo {
  height: 100%;
}

.navList {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

.listItem a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
  padding: 0 10px;
}

.listItem a::after {
  content: "";
  position: absolute;
  background-color: #db5461; 
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: width 0.3s ease-in-out;
}

.listItem a:hover::after {
  width: 100%;
}

.listItem a:hover {
  color: #CA2B3B; 
}
